.displayNone {
	display: none;
}

.icon{
	height: 100px;
	width: auto;
	display: inline-block;
}


.map {
	height: 200px;
	display: none;
}

.list_img {
	display: none;
}

.listResults {
	display: block;
}

