//COLORS
$upshop-yellow: rgb(247, 208, 92);
$upshop-grey: #494A4C;
$input-fill: #C4C4C4;

//font
$main-font: 'Assistant', Helvetica, sans-serif;
$medium-font: 1.2rem;
$form-font: 1rem;
$place-heading-size: 2.5rem;

//containers

$border-radius: 1.5%;

$main-container-width: 80%;

$info-element-padding-top: 2rem;
//Mobile View
body {
  margin: 0;
  height: 100vh;
  font-family: $main-font;
  color: $upshop-grey;
}


//Universal//

.displayNone {
	display: none;

}

input {
  border:none;
}

button {
  color: $upshop-grey;
}
textarea {
  width: 100%;
}

.icon{
  padding:7%;
	height: 70px;
	width: auto;
}

.navHome {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 18%;
  text-align: center;
  border-top: 4px solid $upshop-yellow;
  background-color: white;
  // display: none;
}

.navbarMap {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 18%;
  text-align: center;
  border-top: 4px solid $upshop-yellow;
  background-color: white;

  // display: none;
}

.navHomeList {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 18%;
  text-align: center;
  border-top: 4px solid $upshop-yellow;
  background-color: white;
  // display: none;
}
//MAP

.map {
	height: 423px;
	display: none;
}

.list_img {
   	display: none;
  }

.listResults {
 	display: block;
 }

.displayNone {
	display: none;
}


//Home Page//

.homePage__buttonContainer {
  height: 80%;
  margin:0;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  a {
    color: $upshop-grey;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:click {
    text-decoration: underline;
  }
}

.homePage__header{

     height: 15%;

     h1 {
       margin: 0;
       padding-top: 10%;
       text-align: center;
       line-height: 2;

     }
}
.homePage__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $upshop-yellow;
    width: 75vw;
    height: 25vh;
    border-radius: 5px;
    font-size: $medium-font * 1.5;
}

// search

//Add business

.addBusiness__container {
    // background-color: red;
    text-align: center;
    display: block;
    height: 82%;
}

.addBusiness__form {
  width: 75%;
  margin: auto;
  padding-top: 22%;
  // background-color: blue;

    span {
      font-size: $medium-font;
      font-weight: bold;
    }
    input {
      display: block;
      margin: 7% auto;
      padding: 4%;
      width: 80%;
      background-color: $input-fill;
      font-size: $form-font;

    }
    .addBusiness_submit {
      display: block;
      padding:6%;
      margin-top: 15%;
      width: 60%;
      text-align: center;
      font-size: $medium-font;
      color: $upshop-grey;
      background-color: $upshop-yellow;
    }
}

//Add details

.addMoreDetails__container {
  height: 82%;
  padding-top: 5%;
  width: $main-container-width;
  margin: auto;
  height: fit-content;
  padding-bottom: 36%;

      form {
        height:82%;
      }

      input {
        margin: 2%;
      }

      label, h3 {
        font-size: $medium-font * 0.9;
        font-weight: bold;
      }


      .time {
      label, input {
        font-size: $medium-font * 0.8;
      }
      }

      .hours {
        width: 80%;
        margin: auto;
      }

     .moreDetails_name {
       font-size: $medium-font;
       font-weight: bold;
       margin-bottom: 3%;
     }

}

// Success
.messageBox {
  width: $main-container-width;
  margin: auto;
  text-align: center;

}

//category search



.catSearch {

  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;

}


.optionBox {

  height: 35vw;
  width: 35vw;
  background-color: $upshop-yellow;
  margin-top: 10%;
  border-radius: $border-radius;
  text-align: center;
  display: table;
  box-sizing: border-box;

}

.choose_Category {

  width: $main-container-width;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right:auto;

    span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
      // text-align: center;
      // vertical-align: middle;
    }
    input {
      display: block;
      padding: 4%;
      background-color: $input-fill;
      font-size: $form-font;
      display: none;
    }

    .postcode__submit__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5vh;


      button {
        background-color: $upshop-yellow;
        width: 35%;
        margin: 13% auto;
        padding: 7%;
        border: none;

      }

  }

  .location_img {
    height: 40px;
    width: auto;
  }

  .postcode__submit {
    display: inline;
    width: 70%;

  }



}


//Results list

.listMain {

  header {
  height: 18vh;
  width: 100%;
  display: table;
  background-color: $upshop-yellow;

   h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: $place-heading-size;
      text-transform: uppercase;
      font-weight: bold;
      display: table-cell;
      vertical-align: middle;
      text-align: center;

    }
  }



}
.listResults {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 36%;
    }

.result {

  width: $main-container-width;
  margin: 5% auto;
  padding: 2%;
  font-family: $main-font;
  font-size: $medium-font;
  border-style: solid;
  border-color: $upshop-yellow;
  border-radius: $border-radius;

  a {
    color: inherit;
    font-weight: bolder;
    text-decoration: none;
  }

}


//Place Details

.placePage {

  p {
  text-align: center;
  }

.place_details {
  width: $main-container-width;
  margin: auto;
  height: fit-content;
  padding-bottom: 36%;

  .icon {
    height: 30px;
    width: auto;
  }

  .placeAddress{
  height: 10vh;
  display: flex;
  align-items: center;

      p {
      text-align: left;
      height: 100%;
      margin: 0;
      padding-top: 13%;

      }
  }

  .placeHours {
  display: flex;

    .times {
    padding-top: 7%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: left;

      p{
      text-align: left;
      margin: 0;
      padding: 2%;
      }
    }
  }
    h3 {
    text-align: center;
    padding: 2%;
    background-color: $upshop-yellow; 
    }
}

.place_header {
  height: 18vh;
  width: 100%;
  display: table;
  background-color: $upshop-yellow;

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: $place-heading-size;
      text-transform: uppercase;
      font-weight: bold;
      display: table-cell;
      vertical-align: middle;
      text-align: center;

    }

}




}
