add.hbs

<main> 
<form>
  	Name of business:<br>
 	<input type="text" name="Name"><br>
  	Street:<br>
  	<input type="text" name="Street">
  	Postcode:<br>
  	<input type="text" name="Postcode">
  	<input type="submit" name="submit">Submit
</form>