<main>
<form action="/checkExists" method="GET">
  	Name of business:<br>
 	<input type="text" name="name" required><br>
  	Street:<br>
  	<input type="text" name="address" required>
  	Postcode:<br>
  	<input type="text" name="postcode" required>
  	<input type="submit" name="Submit">
</form>

