<main> 
<form action="/checkExists" method="GET">
  	Name of business:<br>
 	<input type="text" name="name"><br>
  	Street:<br>
  	<input type="text" name="address">
  	Postcode:<br>
  	<input type="text" name="postcode">
  	<input type="submit" name="submit">Submit
</form>