<main> 
	<div class="messageBox">
		<h2>This business already exists! Go home to search for it, or go back to add a different business.</h2>
	</div>
</main>
 <script type='text/javascript' src='/index.js'></script>