<header class = "homePage__header">
	<h1>I want to...</h1>
</header>
<div class="homePage__buttonContainer">

	<a href="/add"><div class="homePage__button"><p>Add a business</p></div></a>

	<a href="/search"><div class="homePage__button"><p>See businesses</p></div></a>

</div>

</div>
