<header class = "homePage__header">
	<h1>I want to...</h1>
</header>
<div class="homePage__buttonContainer">

	<div class="homePage__button">
		<a href="/add">Add a business</a>
	</div>

	<div class="homePage__button">
		<a href="/search">See businesses</a>
	</div>
</div>

</div>
