<h2>I'm looking for...</h2>

<main class="categoryDisplay">
    <div class="categoryBtn">Clothes</div>
    <div class="categoryBtn">Bars and Restaurants</div>
    <div class="categoryBtn">Cafés</div>
    <div class="categoryBtn">Groceries</div>
    <div class="categoryBtn">Entertainment</div>
    <div class="categoryBtn">Other</div>
</main>
<h2>In...</h2>
<input type="text" id="postcode" placeholder="Enter postcode">
<img class="location_img" id="getLocation" src="/assets/search-arrow.png">
<button type="submit" name="submit">Go!</button>
