<div class="category__container ">

    <div class="categories">

      <form class="category__form" name="category__form" method="GET" action="/search/category">


        <input type="radio" class="categoryBtn radioBtn" id="radio1" name="category" value="1">
        <div class="optionBox" id="optionBox1"><span>Clothes</span></div>

        <input type="radio" class="categoryBtn radioBtn" id="radio2" name="category" value="2">
        <div class="optionBox" id="optionBox2"><span>Bars and Restaurants</span></div>


        <input type="radio" class="categoryBtn radioBtn" id="radio3" name="category" value="3">
        <div class="optionBox" id="optionBox3"><span>Cafés</span></div>


        <input type="radio" class="categoryBtn radioBtn" id="radio4" name="category" value="4">
        <div class="optionBox" id="optionBox4"><span>Groceries</span></div>


        <input type="radio" class="categoryBtn radioBtn" id="radio5" name="category" value="5">
        <div class="optionBox" id="optionBox5"><span>Entertainment</span></div>


        <input type="radio" class="categoryBtn radioBtn" id="radio6" name="category" value="6">
        <div class="optionBox" id="optionBox6"><span>Other</span></div>


    </div>

    <div class="category__postcode__container ">

      <input type="text" id="postcode" class="category__postcode__input " placeholder="Enter postcode" name="postcode" required>

      <img class="location_img" id="getLocation" src="/assets/search-arrow.png">
      <button type="submit">Go!</button>
      </form>

  </div>

</div>

<script type='text/javascript' src='/search.js'></script>
