<div class="choose_Category">

<h2>I'm looking for...</h2>

<main class="categoryDisplay">
  <div class="categories">

  <form class="catSearch" name="catSearch" method="GET" action="/search/category">


    <input type="radio" class="categoryBtn" id = "radio1" name="category" value="1"><div class="optionBox" id="optionBox1" ><span>Clothes</span></div>

    <input type="radio" class="categoryBtn" id = "radio2" name="category" value="2"><div class="optionBox" id="optionBox2"><span>Bars and Restaurants</span></div>


    <input type="radio" class="categoryBtn" id = "radio3" name="category" value="3"><div class="optionBox" id="optionBox3"><span>Cafés</span></div>


    <input type="radio" class="categoryBtn" id = "radio4" name="category" value="4"><div class="optionBox" id="optionBox4"><span>Groceries</span></div>


    <input type="radio"class="categoryBtn" id = "radio5" name="category" value="5"><div class="optionBox" id="optionBox5"><span>Entertainment</span></div>


    <input type="radio" class="categoryBtn"  id = "radio6" name="category" value="6"><div class="optionBox" id="optionBox6"><span>Other</span></div>


  </div>
<h2>In...</h2>
<<<<<<< HEAD
<div class="postcode__submit__container">

<input type="text" id="postcode" class = "postcode__submit" placeholder="Enter postcode" name="postcode">
=======
<input type="text" id="postcode" class = "postcode__submit" placeholder="Enter postcode" name="postcode" required>
>>>>>>> master
<img class="location_img" id="getLocation" src="/assets/search-arrow.png">
<button type="submit">Go!</button>
</form>
</main>
</div>

</div>

<script type='text/javascript' src='/search.js'></script>
