<div class="choose_Category">

<h2>I'm looking for...</h2>

<main class="categoryDisplay">
  <div class="categories">

  <form class="catSearch" name="catSearch" method="GET" action="/search/category">

    <input type="radio" class="categoryBtn" name="category" value="1"><div class="optionBox"><span>Clothes</span></div>

    <input type="radio" class="categoryBtn" name="category" value="2"><div class="optionBox"><span>Bars and Restaurants</span></div>


    <input type="radio" class="categoryBtn"name="category" value="3"><div class="optionBox"><span>Cafés</span></div>


    <input type="radio" class="categoryBtn" name="category" value="4"><div class="optionBox"><span>Groceries</span></div>


    <input type="radio"class="categoryBtn" name="category" value="5"><div class="optionBox"><span>Entertainment</span></div>


    <input type="radio" class="categoryBtn" name="category" value="6"><div class="optionBox"><span>Other</span></div>


  </div>
<h2>In...</h2>
<input type="text" id="postcode" class = "postcode__submit" placeholder="Enter postcode" name="postcode">
<img class="location_img" id="getLocation" src="/assets/search-arrow.png">
<button type="submit">Go!</button>
</form>
</main>

</div>

<script type='text/javascript' src='/search.js'></script>
