<h2>I'm looking for...</h2>

<main class="categoryDisplay">
  <form class="catSearch" name="catSearch" method="GET" action="/search/category">
    <input type="radio" class="categoryBtn" name="category" value="1">Clothes
    <input type="radio" class="categoryBtn" name="category" value="2">Bars and Restaurants
    <input type="radio" class="categoryBtn"name="category" value="3">Cafés
    <input type="radio" class="categoryBtn" name="category" value="4">Groceries
    <input type="radio"class="categoryBtn" name="category" value="5">Entertainment
    <input type="radio" class="categoryBtn" name="category" value="6">Other

<h2>In...</h2>
<input type="text" id="postcode" placeholder="Enter postcode" name="postcode">
<img class="location_img" id="getLocation" src="/assets/search-arrow.png">
<button type="submit">Go!</button>
</form>
</main>
