<nav class="navbar">
	<div class="navHomeBack">
		<a href="/"><img class="home_img" src="../../public/assets/home.png">
		<a href=previousPage><img class="back_img" src="../../public/assets/arrow-grey.png">
	</div>
</nav>
