<nav class="navbar">
	<div class="navHomeBack">
		<a href="/"><img class="home_img" src="../../public/assets/home.png">
		<a href=listPage><img class="list_img" src="../../public/assets/list.png">
	</div>
</nav>