<nav class="navbar">
	<div class="navHome">
		<a href=""><img class="home_img icon" src="/assets/home.png">
		<img id="listImg" class="list_img icon" src="/assets/list.png">
		<img id="mapImg" class="map_img icon" src="/assets/droppin-grey.png">
	</div>
</nav>
 <script type='text/javascript' src='/map.js'></script>