<nav class="navbar">
	<div class="navHome">
		<a href="/"><img class="home_img icon" src="/assets/home.png">
		<a href=mapPage><img class="map_img icon" src="/assets/droppin-grey.png">
	</div>
</nav>
