<nav class="navbar">
	<div class="navHomeBack">
		<a href="/"><img class="home_img" src="../../public/assets/home.png">
		<a href=mapPage><img class="map_img" src="../../public/assets/droppin-grey.png">
	</div>
</nav>