@import '../variables.scss';
@import '../layout/fonts.scss';

.placePage p {
  text-align: center;
}

.placePage .place_details {
  width: 80%;
  margin: auto;
  height: fit-content;
  padding-bottom: 36%;
}

.placePage .place_details .icon {
  height: 30px;
  width: auto;
}

.placePage .place_details .placeAddress {
  height: 10vh;
  display: flex;
  align-items: center;
}

.placePage .place_details .placeAddress p {
  text-align: left;
  height: 100%;
  margin: 0;
  padding-top: 13%;
}

.placePage .place_details .placeHours {
  display: flex;
}

.placePage .place_details .placeHours .times {
  padding-top: 7%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.placePage .place_details .placeHours .times p {
  text-align: left;
  margin: 0;
  padding: 2%;
}

.placePage .place_details h3 {
  text-align: center;
  padding: 2%;
  background-color: $upshop-yellow;
}
